.track .card {
    list-style: none;
    display: inline-block;
}

.track .card a:hover {
    background-color: aliceblue;
}

.track .card a:active {
    background-color: antiquewhite;
}

.track .card a {
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.track .card a p {
    width: 10px;
    margin: auto;
}

.track .card .track-name {
    width: 10vw;
}
