.section {
    max-width: 100%;
    margin: 20vh 4vw 0 4vw;
}

.section h1 {
    margin-bottom: 15px;
}

.section hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 30px 30px 10px 30px;
}

.section .results-number {
    text-align: right;
    margin-right: 16vw;
}

.container {
    margin: 15px 75px 25px;
    min-height: 50vh;
    max-height: fit-content;
}

.search-btn {
    display: flex;
    flex-direction: row;
    margin-block: 50px 80px;
    justify-content: center;
    align-items: center;
}

.search-btn li {
    list-style: none;
    margin-inline: 25px;
    font-weight: 700;
}

.search-btn li p {
    min-width: 50px;
}

.search-btn button {
    padding: 18px 40px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: -4px -4px 7px rgb(155, 155, 155) inset;
}

.search-btn button:hover {
    background-color: #ececec;
    cursor: pointer;
}

.search-btn button:active {
    box-shadow: 2px 2px 7px rgb(155, 155, 155) inset;
}
