.section .container li {
    list-style: none;
}

.section .container li a {
    display: block;
    margin: 25px 15vw;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: -4px -4px 7px rgb(155, 155, 155) inset;
}

.section .container li a img {
    min-height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.section .container li a .status {
    width: 250px;
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
    text-align: left;
}

.section .container li a .status .titles {
    font-weight: 700;
}

.section .container li a .status p {
    margin-block: 2px;
    letter-spacing: 1px;
}

.section .container li a .status .status-listeners {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-block: 2px;
    align-items: center;
}

.section .container li a .status .status-listeners img {
    width: 25px;
    min-height: 0;
    margin: 0;
}

.section .container li a .status .status-listeners p {
    margin-left: 15px;
    letter-spacing: 0;
}
