.search {
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-inline: 10vw;
}

.search input {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.search img {
    height: 30px;
    padding: 5px;
    padding-inline: 1.2vw;
    border-radius: 15px;
}

.search img:hover {
    background-color: #ececec;
    cursor: pointer;
}

.search img:active {
    box-shadow: 2px 2px 7px rgb(155, 155, 155) inset;
}
