.artist ol #card {
    list-style: none;
    width: fit-content;
    margin: 25px 15px;
}

.artist ol #card a {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: block;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -2px -2px 7px rgb(155, 155, 155) inset;
}

.artist ol #card a:hover {
    background-color: #ececec;
}

.artist ol #card a:active {
    box-shadow: 2px 2px 7px rgb(155, 155, 155) inset;
}

.artist #name {
    height: 50px;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 25px;
}

.artist ol li a .content-text li {
    justify-content: space-between;
    margin: 15px 0;
}

.artist ol #card #rank {
    font-size: 2em;
    font-weight: 700;
    margin-top: 25px;
    color: black;
}

.artist .artist-img {
    max-width: 100px;
}

.artist .card-content:hover {
    background-color: antiquewhite;
}
